/**
 * common css
 */

body {
	font-family: "Microsoft YaHei","Helvetica Neue","Helvetica","Arial",sans-serif;;
	margin: 0;
	padding: 0;
}
.btn:focus,
.btn:active.focus,
.btn.active.focus {
    outline: none;
	background-color: #00a5e3;
	border: 1px inherit solid;
	color: #ffffff;
}
.content-container {
	width: 1000px;
	margin: 0 auto;
	position: relative;
}

.img-slide{
	min-height: 388px;
}

.row {
	margin: 0;
}

.pagination {
	margin: 0px;
}

.background-c-grey {
	background-color: #f0f0f0;
}
.background-c-white{
	background-color: #fff;
}

.footer {
	width:100%; 
	height:155px;
	font-size: 12px;
	font-weight:normal;
	border-top: 1px solid #c8c8c8;
}

.bs-footer {
	padding-top: 20px;
	/*padding-bottom: 5px;*/
	text-align: center;
	color: #717171;
	/*font-family: "SimHei";*/
}

.font-s-12 {
	font-size: 12px;
}

.font-s-14 {
	font-size: 14px;
}

.font-s-16 {
	font-size: 16px;
}

.font-s-18 {
	font-size: 18px;
}

.font-s-20 {
	font-size: 20px;
}

.font-s-22 {
	font-size: 22px;
}

.font-s-24 {
	font-size: 24px;
}

.font-s-26 {
	font-size: 24px;
}

.font-s-28 {
	font-size: 24px;
}

.font-s-30 {
	font-size: 30px;
}

.word-c-blue {
	color: #00a5e3;
}

.word-c-white {
	color: #fff;
}

.word-c-grey {
	color: #333333;
}

.word-c-green {
	color: #8fc31f;
}

.button-c-blue, .background-c-blue {
	background-color: #00a5e3;
	color: #fff;
	border: 1px #00a5e3 solid;
}

.button-c-blue:hover, .button-c-blue:focus,
.button-c-blue:active, .button-c-blue:active:focus,
.button-c-blue:active:hover{
	background-color: #0084b6;
	color: #fff;
}

.button-c-blue[disabled],.button-c-blue[disabled]:hover,
.button-c-blue[disabled]:focus, .button-c-blue[disabled]:active{
	color: #fff;
	background-color: #999;
}

.button-c-green {
	background-color: #8fc31f;
}

.button-c-green:focus {
	background-color: #8fc31f;
}

.button-c-green:hover {
	color: #fff;
	background-color: #639206;
}

.button-c-green[disabled] {
	color: #fff;
	background-color: #999;
}

.button-c-grey {
	background-color: #999999;
	color: #fff;
}

.vertical-line {
	display: inline-block;
	width: 1px;
	background-color: #999;
	position: absolute;
}

.line-left {
	background-color: #00a5e3;
	height: 2px;
}

.line-right {
	background-color: #00a5e3;
	height: 2px;
}

.top {
	height: 30px;
}

.top-head {
	height: 80px;
	background-color: #fafafa;
}

.top-head-left {
	margin-top: 10px;
	float: left;
}

.top-head-left img{
	height: 50px;
}

.top-head-right {
	margin-top: 28px;
	float: right;
}

.top-head-bottom {
	border-bottom: 1px solid #c8c8c8;
}

.font-color-danger {
	color: red;
	font-size: 12px;
}

.font-weight-6 {
	font-weight: 600;
}

.left {
	float: left;
}

.left a {
	color: red;
}

.right {
	float: right;
}

.left-nav {
	background-color: #fff;
	padding-right: 0px;
	border-radius: 3px;
}

.left-nav ul{
	padding: 20px 0px 50px;
	margin: 0;
}

.left-nav ul>li {
	padding: 4px 20px;
	margin-left: -15px;
	border-top: 1px solid #eee;
}

.left-nav ul>li:last-child {
	border-bottom: 1px solid #eee;
}

.left-nav ul>li>a {
	text-decoration: none;
	color: #4F4F4F;
}

.left-nav ul>li>a:hover{
	color: #59C4ED;
}

.left-nav ul>li img {
	position: absolute;
	right: 20px;
	margin-top: 4px;
}

.left-nav .active>a {
	color: #59C4ED;
}

.dropdown:hover .dropdown-menu {
	display: block;
    margin-top: 0;
}

.alert {
	display:none;
	text-align:center;
	height:40px;
	padding:5px;
}

.th {
	background-color: #b4e6ff;
}

.table td, .table th {
   text-align: center;
}

.modal-header {
	padding: 10px;
}

.modal-content {
	width: 400px;
	border-radius: 3px;
}

form .form-div {
	padding-left: 0px;
}


.alert button {
	margin-top: -5px;
}

.alert p{
	margin-top: 5px;
}

select {
	font-size: 12px;
}

input.form-control {
	height: 30px;
}

select.form-control {
	height: 30px;
	font-size: 12px;
	padding: 0px 12px;
}

input.form-control,textarea.form-control {
	font-size: 12px;
}

nav {
	font-size: 12px;
}

a, .pagination>li>a {
	color: #00A5E3;
}

.top a {
	font-size: 12px;
}

.table-condensed>thead>tr>th, .table-condensed>tbody>tr>th,
.table-condensed>tfoot>tr>th, .table-condensed>thead>tr>td,
.table-condensed>tbody>tr>td, .table-condensed>tfoot>tr>td {
	padding:2px;
}
/*treatment*/
.treatment{
    position: absolute;
    left: 568px;
    color: #333333;
}
.regular-checkbox {
    display: none;
    margin: 0;
}

.regular-checkbox + label {
    background-color: #fafafa;
    border: 1px solid #cacece;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
    padding: 7px;
    border-radius: 3px;
    display: inline-block;
    position: relative;
    margin-bottom: -2px;
	cursor: pointer;
}

.regular-checkbox + label:active, .regular-checkbox:checked + label:active {
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

.regular-checkbox:checked + label {
    background-color: #00A5E3;
    border: 1px solid #00A5E3;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
    color: #99a1a7;
}

.regular-checkbox:checked + label:after {
    content: '\2714';
    font-size: 12px;
    position: absolute;
    top: -2px;
    left: 2px;
    color: #ffffff;
	font-weight: 100;
}

