html,body{
	height: 100%;
	overflow: hidden;
}

body{
	background: url(../images/bg.png) no-repeat center #001124;
}

/**common**/
.angle{
    background: url(../images/angle.png) no-repeat center;
    width: 31px;
    height: 31px;
}
.small-angle{
    background: url(../images/small-angle.png) no-repeat center;
    width: 11px;
    height: 11px;
}
.rotate90{
    transform:rotate(90deg);
    -ms-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -webkit-transform:rotate(90deg);
    -o-transform:rotate(90deg);
}
.rotate180{
    transform:rotate(180deg);
    -ms-transform:rotate(180deg);
    -moz-transform:rotate(180deg);
    -webkit-transform:rotate(180deg);
    -o-transform:rotate(180deg);
}
.rotate270{
    transform:rotate(270deg);
    -ms-transform:rotate(270deg);
    -moz-transform:rotate(270deg);
    -webkit-transform:rotate(270deg);
    -o-transform:rotate(270deg);
}
.rotate360{
    transform:rotate(360deg);
    -ms-transform:rotate(360deg);
    -moz-transform:rotate(360deg);
    -webkit-transform:rotate(360deg);
    -o-transform:rotate(360deg);
}
.no-padding{
	padding: 0 !important;
}
.no-margin{
	margin: 0 !important;
}
.position-absolute-top-left {
	position: absolute;
	top: 0;
	left: 0;
}
.position-relative {
	position: relative !important;
}
.position-absolute-top-right {
	position: absolute;
	top: 0;
	right: 0;	
}
.position-absolute-bottom-left {
	position: absolute;
	bottom: 0;
	left: 0;
}
.position-absolute-bottom-right {
	position: absolute;
	bottom: 0;
	right: 0;
}
/**视频main**/
.view-video-main{
	height: 100%;
	padding: 20px;
}

/**视频左侧**/
.view-video-main>.view-video-intro{
	width: 30%;
	height: 100%;
	margin-right: 1%;
	overflow: hidden;
	background: url(../images/view-video-intro-content-bg.png) no-repeat right center ;
}
.view-video-intro > .view-video-intro-header{
	height: 59px;
}
.view-video-intro > .view-video-intro-header > .header-btn{
	color: #51ffff;
	width: 60%;
	cursor: pointer;
}
.view-video-intro > .view-video-intro-header > .header-btn >.header-btn-text{
	position: absolute; 
	width: 100%; 
	height: 48px;
	color: #51ffff;
	text-align: center;
	line-height: 48px;
	font-weight: normal;
	font-size: 18px;
	letter-spacing: 0.05em;
}
.view-video-intro > .view-video-intro-header > .header-btn >img{
	height: 48px;
    width: 100%;
}
.view-video-intro > .view-video-intro-header > .header-center{
	text-align: center;
	vertical-align: middle;
	width: 1%;
	margin-top: 1px;
}
.view-video-intro > .view-video-intro-header > .header-center > .header-center-angle{
	background: url(../images/header-center-angle.png);
	width: 15px;
	height: 10px;
}
.view-video-intro > .view-video-intro-header > .header-center > .header-center-angle-1{
	background: url(../images/header-center-angle-1.png);
	width: 21px;
	height: 12px;
}
.view-video-intro > .view-video-intro-header > .header-right{
	background: url(../images/view-video-intro-header-bg.png) no-repeat top center ;
	width: 39%;
	position: relative;
    left: 3px;
}

.view-video-intro >.view-video-intro-content{
	height: 90%;
	height: calc(100% - 60px);
	height: -moz-calc(100% - 60px);
	height: -webkit-calc(100% - 60px);
	background: url(../images/view-video-intro-content-bottom-bg.png) no-repeat bottom center;
}
.view-video-intro >.view-video-intro-content> .intro-top{
	background: url(../images/view-video-intro-content-top-bg.png) no-repeat center ;
	width: 48%;
	width: calc(100% - 42% - 31px);
	width: -webkit-calc(100% - 42% - 31px);
	width: -moz-calc(100% - 42% - 31px);
	height: 3px;
	position: relative;
    top: -30px;
    left: 17px;
    overflow: hidden;
}
.view-video-intro >.view-video-intro-content> .intro-left{
	background: url(../images/view-video-intro-content-bg.png) no-repeat center ;
	height: 100%;
	width: 3px;
	position: relative;
}
.view-video-intro >.view-video-intro-content> .intro-content-width{
	width: 88%;
	/*外边距 20px *2 左边背景 3px(div 宽度) 右边背景 1px(实际背景)*/
	width: calc(100% - (10px * 2) - 4px);
	width: -webkit-calc(100% - (10px * 2) - 4px);
	width: -moz-calc(100% -  (10px * 2) - 4px);
	margin: 0 10px;
}
.view-video-intro >.view-video-intro-content> .branch-info{
	position: relative;
	color: #0096ff;
	font-size: 22px;
	font-weight: 600;
}
.view-video-intro >.view-video-intro-content> .branch-info >p:nth-last-child(1){
	font-weight: normal;
	margin-top: 5px !important;
}
.view-video-intro >.view-video-intro-content> .doc-info{
	background: rgba(21,111,245,0.1);
    border-left: 3px solid #FF6900;
    line-height: 24px;
    text-align: justify;
    margin-top: 10px !important;
    color: #ffffff;
    padding: 8px 0 8px 15px;
}
.view-video-intro >.view-video-intro-content> .map-info {
    background: rgba(4,66,160,0.1);
    max-height: 37%;
    height: 37%;
    margin-top: 10px !important;
}
.view-video-intro >.view-video-intro-content>.intro-desc {
    margin-top: 10px !important;
    color: #77bbec;
    line-height: 22px;
    background: rgba(21,111,255,0.1);
    padding: 15px 10px;
    height: 120px;
	height: calc(100% - 31px - 53px - 64px - 37% - (11px * 4));
	height: -moz-calc(100% - 31px - 53px - 64px - 37% - (11px * 4));
	height: -webkit-calc(100% - 31px - 53px - 64px - 37% - (11px * 4));
    text-overflow: ellipsis;
}
/**视频右侧**/
.view-video-main>.view-video-detail{
	width: 69%;
	height: 100%;
	background: url(../images/detail-header-bg.png) no-repeat bottom center;
}
.view-video-main>.view-video-detail>.view-video-detail-bg{
	background: url(../images/view-video-detail-bg.png) no-repeat center;
	height: 100%;
	width: 4px;
}
.view-video-main>.view-video-detail> .detail-header{
	background: url(../images/detail-header-bg.png) no-repeat center;
	width: 100%;
	height: 3px;
	position: relative;
	top: 0;
}
.view-video-main>.view-video-detail> .detail-header >img {
	width: 100%;
	height: 53px;
}
.view-video-main>.view-video-detail> .detail-header>.detail-header-text{
	position: absolute; 
	width: 100%; 
	height: 48px;
	color: #51ffff;
	text-align: center;
	line-height: 48px;
	font-weight: normal;
	letter-spacing: 0.05em;
}
.view-video-main>.view-video-detail >.detail-content{
	width: 95.8%;
	/*外边距 25px *2 左右背景 4px * 2*/
	width: calc(100% - (15px * 2) - (4px * 2));
	width: -webkit-calc(100% - (15px * 2) -(4px * 2));
	width: -moz-calc(100% -  (15px * 2) - (4px * 2));
	/*上下背景 3 * 2  底部外边距  15px 上部外边距65px*/
	height: 86%;
	height: calc(100% - (65px + 15px) - (3px * 2));
	height: -webkit-calc(100% - (65px + 15px) - (3px * 2));
	height: -moz-calc(100% - (65px + 15px) - (3px * 2));
	margin: 0 15px;
	background: rgba(4,66,160,0.1);
	margin-top: 65px;
	overflow: hidden;
}
.view-video-main>.view-video-detail >.detail-content>.video-doc{
	height: 100%;
	width: 100%;
}
.view-video-main>.view-video-detail >.detail-content>.video-user{
	bottom: 18px;
    left: 19px;
    position: absolute;
    padding: 0;
    max-width: 200px;
    max-height: 500px;
}
